In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv("Video_Games_Sales_as_at_22_Dec_2016.csv", sep=',')

In [3]:
data1 = [[1, 2, 3, 4], [5, 6, 7, 8],[9, 10, 11, 12]]
df = pd.DataFrame(data1, index=["第一", "第二", "第三"])
print(df)

    0   1   2   3
第一  1   2   3   4
第二  5   6   7   8
第三  9  10  11  12

In [4]:
print(df.iloc[:3, 0:2])

    0   1
第一  1   2
第二  5   6
第三  9  10

In [5]:
print(df)
np.mean(df, axis=1)

    0   1   2   3
第一  1   2   3   4
第二  5   6   7   8
第三  9  10  11  12

第一     2.5
第二     6.5
第三    10.5
dtype: float64

In [6]:
a = np.array([[4, 2, 3],[1, 1, 0], [-1, 2, 3]])
print(np.linalg.inv(a))

[[ 0.2         0.         -0.2       ]
 [-0.2         1.          0.2       ]
 [ 0.2        -0.66666667  0.13333333]]